<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">





    <!-- List of items   -->
{% for item in items %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">
            {{ item.item_name }} ({{ item.label }})<br/>
            £{{ item.price }}<br/>
             {{ item.description }}
             <hr/>
        </p>
      </div>
    </div>
{% endfor %}