{% extends 'main.html' %}
{% load static %}
{% block content %}<!--<h3>Store</h3>-->

    <div class="row">
        <div class="col-lg-4">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Item</a>
           </div>
        </div>

        <div class="col-lg-4">
             <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Item</a>

           </div>
        </div>

        <div class="col-lg-4">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View Item</a>

           </div>
        </div>
    </div>

{% endblock content %}



<!--<img class="img-fluid" src= "{% static 'images/cart.png'%}" alt="..." />-->